body {
  position: relative;
  /* background-image: url(./images/2832382.jpg); */
  background-color: rgb(208, 208, 208);
}

.box, .chart, .table-container {
  width: 460px;
  height: 280px;
  padding: 15px;
  background-color: rgb(223, 197, 253);
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.box {
  width: 768px;
  height: 100vh;
  border-radius: 0px;
  background-color: rgba(130, 130, 130, 0.135);
}

.chart { 
  top: 200px;
}

.chart-header, .table-header {
  position: absolute;
  left: 50%;
  top: 170px;
  transform: translate(-50%);
}

.table-header {
  top: 510px;
}

.table-container {
  background-color: rgb(193, 207, 255);
  top: 540px;
  height: auto;
}

td, th {
  text-align: left;
  padding: 6px;
}

tr:nth-child(even) {
  background-color: rgb(169, 181, 221);
}

.logo-card {
  color: #515151;
  position: absolute;
  left: 10px;
}

.user-card {
  position: absolute;
  right: 10px;
}

.chat-card {
  z-index: 100;
  width: 270px;
  padding: 15px;
  position: fixed;
  right: 5px;
  bottom: 0;
  background-color: rgb(38, 71, 219);
  border-radius: 8px;
}

.chat-header {
  text-align: center;
  font-weight: bold;
  color: white;
}

.notes-link {
  position: absolute;
  top: 50px;
  right: 30px;
  color: white;
  border: solid 2px rgb(38, 71, 219);
  border-radius: 8px;
  padding: 8px 10px;
}

/* <--- NOTES PAGE ---> */

.notes-flex {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 80px;
  flex-wrap: wrap;
}

.notes-card, .newrelic-card, .splunk-card {
  text-align: center;
  height: auto;
  width: 400px;
  padding: 15px;
  background-color: rgb(199, 253, 197);
  border-radius: 8px;
}

.newrelic-card, .splunk-card {
  background-color: rgb(253, 241, 197);
}

